{% extends 'portfolio/layout.html' %}
{% block main %}
    {% load static %}
    <div class = "contain">
        <div class="box">
            <img src={% static 'portfolio/images/PW.jpg' %}>
            <p class="center">Programação Web</p>
            <div class="test1">
                <p class="test">2ºAno</p>
            </div>

        </div>
        <div class="box">
            <img src={% static 'portfolio/images/CG.jpeg' %}>
            <p class="center">Computação Gráfica</p>
        </div>
        <div class="box">
            <img src={% static 'portfolio/images/Data.png' %}>
            <p class="center">Base de Dados</p>
        </div>
    </div>

{% endblock main %}