{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <div class = "contain">
        <div class="box">
            <img src={% static 'portfolio/images/img_licen/PW.jpg' %}>
            <p class="center">Programação Web</p>
            <div>
                2ºAno
            </div>

        </div>
        <div class="box">
            <img src={% static 'portfolio/images/img_licen/CG.jpeg' %}>
            <p class="center">Computação Gráfica</p>
        </div>
        <div class="box">
            <img src={% static 'portfolio/images/img_licen/Data.png' %}>
            <p class="center">Base de Dados</p>
        </div>
    </div>

{% endblock main %}