.grid_photos{
    display: grid;
    width: 1800px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-right: 60px;
    margin-left: auto;


    grid-template-areas:
       'im11 im2 im3 im3'
       'im11 im5 im6 im7'
       'im1 im9 im4 im12'
       'im10 im10 im8 im12';
}

.im1{
    background-color:black;
    width: 450px;
    height: 200px;
    grid-area: im1;
}
.im2{
    background-color: #521919;
    width: 450px;
    height: 200px;
    grid-area: im2;
}
.im3{
    background-color: #7c5b5b;
    width: 910px;
    height: 200px;
    grid-area: im3;
}
.im4{
    background-color: #a8a2f8;
    width: 450px;
    height: 200px;
    grid-area: im4;
}
.im5{
    background-color: #ecb707;
    width: 450px;
    height: 200px;
    grid-area: im5;
}
.im6{
    background-color: #141144;
    width: 450px;
    height: 200px;
    grid-area: im6;
}
.im7{
    background-color: #40bba9;
    width: 450px;
    height: 200px;
    grid-area: im7;
}
.im8{
    background-color: #d1e77d;
    width: 450px;
    height: 200px;
    grid-area: im8;
}
.im9{
    background-color: #af4bb2;
    width: 450px;
    height: 200px;
    grid-area: im9;
}
.im10{
    background-color: #371fad;
    width: 910px;
    height: 200px;
    grid-area: im10;
}
.im11{
    background-color: #65b74d;
    width: 450px;
    height: 400px;
    grid-area: im11;
}
.im12{
    background-color: #8b9662;
    width: 450px;
    height: 410px;
    grid-area: im12;
}
